@page "/nhanvien/edit/{id:int}"
@inject NavigationManager NavigationManager

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title mb-0">Sửa thông tin: @item.TenNhanVien</h3>
                </div>
            </div>
            <div class="card-body">
                <form @onsubmit="Update">
                    <div class="form-container">
                        <div class="mb-3">
                            <label class="form-label">Tên Nhân Viên</label>
                            <input type="text" class="form-control" name="TenNhanVien" required @bind="@item.TenNhanVien">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Giới Tính</label>
                            <input type="text" class="form-control" name="GioiTinh" required @bind="@item.GioiTinh">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Ngày Sinh</label>
                            <input type="date" class="form-control" name="NgaySinh" required @bind="@item.NgaySinh">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Số Điện Thoại</label>
                            <input type="text" class="form-control" name="SoDienThoai" required @bind="@item.SoDienThoai">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="Email" required @bind="@item.Email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Địa Chỉ</label>
                            <input type="text" class="form-control" name="DiaChi" required @bind="@item.DiaChi">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Phòng Ban</label>
                            <input type="text" class="form-control" name="PhongBan" required @bind="@item.PhongBan">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mật Khẩu</label>
                            <input type="password" class="form-control" name="MatKhau" required @bind="@item.MatKhau">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    NhanVien item = new NhanVien();

    protected override async Task OnInitializedAsync()
    {
        item = NhanVienDAO.Find(id);
    }

    public void Update()
    {
        NhanVienDAO.Update(id, item);
        NavigationManager.NavigateTo("/nhanvien/index");
    }
}
