@page "/daily/edit/{id:int}";
@inject NavigationManager navigationManager

<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title mb-0">Sửa thông tin: @item.TenDaiLy</h3>
                </div>
            </div>
            <div class="card-body">
                <form @onsubmit="Update">
                    <div class="form-container">
                        <div class="mb-3">
                            <label class="form-label">Tên Đại Lý</label>
                            <input type="text" class="form-control" name="TenDaiLy" required @bind="@item.TenDaiLy">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control" name="DiaChi" required @bind="@item.DiaChi">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" name="SoDienThoai" required @bind="@item.SoDienThoai">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="Email" required @bind="@item.Email">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    DaiLy item = new DaiLy();

    protected override async Task OnInitializedAsync()
    {
        item = DaiLyDAO.Find(id);
    }

    public void Update()
    {
        DaiLyDAO.Update(id, item);
        navigationManager.NavigateTo("/daily/index");
    }
}
