@page "/daily/index"
@inject NavigationManager navigationManager
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h3 class="card-title mb-0">Danh sách đại lý</h3>
                    <button @onclick="Create" class="btn btn-success">Thêm đại lý mới</button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên đại lý</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in list)
                        {
                            <tr>
                                <td>@item.DaiLyID</td>
                                <td>@item.TenDaiLy</td>
                                <td>@item.SoDienThoai</td>
                                <td>@item.Email</td>
                                <td>@item.DiaChi</td>
                                <td><button class="btn btn-warning" @onclick=@(()=>Edit(item.DaiLyID))>Sửa</button></td>
                                <td><button class="btn btn-danger" @onclick=@(()=>Delete(item.DaiLyID))>Xóa</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@code {
    public List<DaiLy> list;
    protected override async Task OnInitializedAsync()
    {
        list = DaiLyDAO.List();
    }

    public void Create()
    {
        navigationManager.NavigateTo("/daily/create");
    }
    public void Edit(int id)
    {
        navigationManager.NavigateTo($"/daily/edit/{id}");

    }
    public void Delete(int id)
    {
        DaiLyDAO.Delete(id);
        navigationManager.Refresh();
    }
}
