@page "/weather"

<h1>Danh sach dai ly</h1>

<p>Danh sach cac dai ly.</p>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Tên đại lý</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>@item.DaiLyID</td>
                <td>@item.TenDaiLy</td>
                <td>@item.SoDienThoai</td>
                <td>@item.Email</td>
                <td>@item.DiaChi</td>
                <td><a href="" class="btn btn-warning">Sửa</a></td>
                <td><a href="" class="btn btn-danger">Xóa</a></td>
            </tr>
        }
    </tbody>
</table>
@code {
    public List<DaiLy> list;
    public DaiLy d;

    protected override async Task OnInitializedAsync()
    {
        list = DaiLyDAO.List();
    }
}
